<footer class="footer">
<div class="container">
  <hr style="color:black">
  <div class="pull-left">
    <p class="links"><a href="">linux社区</a>|<a href="">Mongodb数据库</a>|<a href="">Rails社区</a>|
    <a href="">Java社区</a>|<a href="">Ubuntu社区</a>|<a href="">联系本人</a></p>
  </div>
  <div class="pull-right">
    <p class="link">powered by ©<a href="">Zblog</a> 2012</p>
  </div>
</div>
</footer>
