<div class= "usidebar">
  <h2 class="title">博客管理</h2>
  <ul class="unstyled">
    <li><a href="">所有文章</a></li>
    <li><a href="">新增博客</a></li>
    <li><a href="">博客设置</a></li>
    <li><a href="">info管理</a><li>
  </ul>
</div>
<div class= "usidebar">
  <h2 class="title">用户管理</h2>
  <ul class="unstyled">
    <li><a href="">所有用户</a></li>
    <li><a href="">新增用户</a></li>
    <li><a href="">功能管理</a></li>
  </ul>
</div>
<div class= "usidebar">
  <h2 class="title">分类管理</h2>
  <ul class="unstyled">
    <li><a href="">所有分类</a></li>
    <li><a href="">增加分类</a></li>
    <li><a href="">分类归档</a></li>
  </ul>
</div>
<div class="usidebar">
  <h2 class="title">连接管理</h2>
  <ul class="unstyled">
    <li><a href="">所有连接</a></li>
    <li><a href="">增加连接</a></li>
    <li><a href="">sidebar管理</a></li>
  </ul>
</div>
<div class="usidebar">
  <h2 class="title">评论管理</h2>
  <ul class="unstyled">
    <li><a href="">所有评论</a></li>
    <li><a href="">功能管理</a></li>
  </ul>
</div>

