<div class= "box">
  <h2 class="title">Info</h2>
  <ul class="unstyled">
    <div class="pinfo"><i class="icon-heart"> </i><%= get_infos%></div>
  </ul>
</div>
<div class= "box">
  <h2 class="title">博客分类</h2>
  <ul class="unstyled">
    <li><a href=""><i class="icon-book"></i>技术类</a></li>
    <li><a href=""><i class="icon-book"> </i>心情杂文</a></li>
    <li><a href=""><i class="icon-book"></i>工作扯淡</a></li>
  </ul>
</div>
<div class="box tags">
  <h2 class="title">标签</h2>
  <ul class="unstyled">
    <li><a href="">PHP</a></li>
    <li><a href="">Java</a></li>
    <li><a href="">Ruby</a></li>
    <li><a href="">Elang</a></li>
    <li><a href="">DataBase</a></li>
    <li><a href="">Mysql</a></li>
    <li><a href="">C++</a></li>
    <li><a href="">C#</a></li>
    <li><a href="">MongoDB</a></li>
  </ul>
</div>
<div class="box">
  <h2 class="title">近期评论</h2>
  <ul class="unstyled">
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
    <li><i class="icon-pencil"></i>jenny评论了<a href="">hello,world</a></li>
</ul>
</div>
<div class="box">
  <h2 class="title">我的连接</h2>
  <ul class="unstyled">
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
    <li><i class="icon-home"></i><a href="">hello,world</a></li>
</ul>
</div>
<div class="box">
  <h2 class="title">日历</h2>
  <%=raw calendar(:year=>(Time.zone || Time).now.year, :month =>(Time.zone || Time).now.month, :table_class => "calendar") %>
</div>






