/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  width: 100%;
  height: 100%;
  background:#eee image-url('bg.png') bottom left repeat;
}
body { background:none;}

code { background:none; }


.navbar-fixed-top {
  position:static;right:0;left:0;margin-bottom:20px;
  .badge-inverse { background:#666;}

  .search-query {
    margin-bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .brand {width:60px;}
  .badge {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 6px;
  }
  .badge-error { background:#C43C35; }
  h3 {
    margin:0; padding:0; margin-top:2px; margin-right:10px;
    width:123px; float:left;
    a {
      padding:0; margin:0; margin-top:5px;
      width:130px;
      &:hover { background:none;}
    }
  }
}

.breadcrumb {
  color:#999; border:0px;
  background:#FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
}


.container { width:960px; }
.container-fluid { padding:0; }
.row-fluid{ width:auto}
.container-fluid > .sidebar {
  position:absolute;
  left:auto;
  right:0;
  top:0;
  width: 240px;
  margin-top:60px;
}

.container-fluid > .content {
  margin-left:0;
  margin-right: 260px;
}

fieldset { margin-bottom:0;}
fieldset legend { font-size:16px; font-weight:bold;}

.pagination { margin:0; margin-top:10px; }

a.label:hover { text-decoration: none; color:#FFF;}

abbr[title] { border:0; cursor:default; }

form {
  margin-bottom:0px;
}
.form-actions {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  margin-bottom:0px;
}

.box {
  background-color: #d9edf7;
  padding:10px;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
  h2.title {
    font-size: 12px;
    margin:0 -10px; padding:0 10px; margin-bottom:8px;
    color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
}

.box_gray {
  background:#F5F5F5;
}


.footer {
  border-top:0;
  min-width: 940px;
  margin-bottom:30px;
  margin-top:0px;
  padding:0;
  text-shadow: 0 1px 0 #fff;
}
.footer p {
  margin:3px 0;
  color: #555;
}
#main { position:relative;}
#main h1 { font-size:14px; line-height:26px; font-weight:bold; text-align:right; color:#333; margin-bottom:10px; }

.topbar { position: static; margin-bottom:20px;}

textarea.long { width:670px;}
textarea.span16 { width:910px;}
.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge { width:510px;}

div.field, div.actions {
  margin-bottom: 10px;
}
div.field .hint { font-size:12px; color:#999;}

.field_with_errors {
  display:inline;
  color:#b16125;
}

.alert-message { margin-bottom:8px;}

.icon {
  display:inline-block;
  transition-property: background-position;
  transition-duration: 0.5s;
  -moz-transition-property: background-position; /* Firefox 4 */
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-property: background-position; /* Safari and Chrome */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
}

.simple_form {
  label.required {
    abbr { color:#c00;}
  }
}

/* bootstrap puts .clearfix inside form, doesn't make much sense */
.clearfix {
  margin-bottom: 18px;
  zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}

#error_page {
  padding:60px;
  h1 { font-size:600%; color:#aaa; margin-bottom:100px;}
  p { font-size:16px; }
}

.no_result { text-align:center; color:#999; }

.go_top {
  background: #FFF;
  text-align: center;
  border:1px solid #eee;
  display:none;
  height:20px; width:24px;
  padding-top:4px; overflow:hidden;
  border-radius:6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

img.emoji { width:20px; height:20px; }

#calendar {
  width: auto;
  padding: 0;
  margin: 0;
  border-left: 1px solid #A2ADBC;
  font: normal 12px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  coloror: #616B76;
  text-align: center;
  background-color: #fff;
  
  nav,navbarv a {
  font: bold 18px "Trebuchet MS", Verdana, Arial, Helvetica, sans-sansserif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

          
caption {
  margin: 0;
  padding: 0;
  width: 141px;
  background: #A2ADBC;
  color: #fff; 
  font: bold 12px "Trebuchet MS", Verdana, Arial, Helveticaetica, sans-serif;
  text-align: center;
}

th {
  font: bold 11px/20px "11pxTrebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #616B76;
    background: #D9E2E1;
    border-right: 1px solid #A2ADBC;
    border-bottom:A2ADBC 1px solid #A2ADBC;
    border-top: 1px solid #A2ADBC;
  }

  .today, td.today a, td.today a:link, td.today a:visited {
    color: #F6F4DA;
    font-weight: bold;
    background: #DF9496;
  }

  td {
    border-right: 1px solid #A2ADBC;solidborder-bottom: 1px solid #A2ADBC;
    width: 20px;
    height: 20px;
    text-widthalign: center;
    background: url(images/bg_calendar.gif) no-repeat right bottom;
  }

  td a {
    text-decoration: none;
    font-weight: bold;
    display: block;
  }

  td a:link, td a:visited {
    color: #608194;
    background: urll(images/bg_calendar.gif) no-repeat;
  }

  td a:hover, td a:active {
    colorr: #6aa3ae;
    background: url(images/bg_calendar.gif) no-repeat right todayp;
  }
}





