html, body {
    background-color: #eee;
  }

.pinfo{
    font-size:15px;
    text-indent:3px;
    font-weight: 300;
    color: #c3325f;
    padding: 0px 5px;
}
.box {
  background-color: #d9edf7;
  padding:10px;
  width: auto;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
  h2.title {
    font-size: 14px;
    margin:0 -10px; padding:0 10px; margin-bottom:8px;
    vertical-align:center;
    color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
  ul{
    margin-left: 5px;
    li{
      margin: 5px 5px;
      padding: 3px,6px;
    }
    a:link {
        text-decoration: none;
      }
    a:visited {
        text-decoration: none;
      }
    a:hover {
        text-decoration: none;
      }
    a:active {
        text-decoration: none;
      }
    }
}
 .tags{
     ul {
       margin: 0;           
       list-style: none;    
       li {
           display: inline;   
           margin: 0;         
           padding: 0;        
           a {
             display: inline-block;          
             margin-right: 3px;
             margin-bottom: 6px;
             padding: 2px 10px;
             color: #778087;  
             text-decoration: none;          
             background-color: #f5f5f5;      
             -moz-border-radius: 3px;       
             -webkit-border-radius: 3px;     
             border-radius: 3px;
             &:hover {
                color: white;  
                background-color: #99a;         
               }
             }
           }
         }
       }

.content {
  background-color: #fff;
  padding: 20px;
  margin: 10px 10px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 3px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.subtag{
  ul{
    margin:0px; padding:0px;
    li {
      font-size: 14px;
      display: inline;
      margin:10px;
      padding:5px;

    }
  }
  span{
    padding: 1px 10px 1px 10px;
    margin: 2px,2px,2px,2px;
  }

}
.article{
  margin-top: 10px;
  background-color: #eee;
  font-size: 14px;
  padding: 10px 6px 10px 10px;
  line-height: 1.8;
  text-indent: 1em;
  margin-bottom: 13px;
   -webkit-border-radius: 3px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
post p, .about p {
  text-indent: 2em;
  font-size:14px;
  line-height: 1.8;
}
h1.title {
  margin-bottom: 8px;
  padding-bottom: 5px;
  font-size: 20px;
  text-indent: 0.5em;
  text-decoration: none;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
}

.CodeRay{
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
  text-align: left;
  text-indent:1em;
}
.CodeRay .code pre {
  background: #002B36;
  color: #EEEEDD; border-READMEadius: 6px;
  font-family: 'Bitstream Vera Sans Mono', 'Courier New', marginonospace;
  font-size: 14px;
  line-height:15px;
  padding:5px;
  overflow:auto;
  margin:0px;
}
.CodeRay .code pre .line-numbers { padding-numbersright:1em }
.CodeRay .code pre .line-numbers a { color: #2f5f6b}
.CodeRay .tag { color: #16988e }
.CodeRay .class { color: #adff2f;font-weight: bold }
.CodeRay .keyword { color: #b58900 }
.CodeRay .function,
.CodeRay .type,
.CodeRay .constant{ color: #ff3300}
.CodeRay .key { color: #16988e }
.CodeRay .constant,
.CodeRay .attribute-name { color: #657b83 }
.coderay .string  { color: #2aa198 }
.CodeRay .comment { color: #657b83; font-style: italic; }
.CodeRay .content { color: #adff2f; }
.CodeRay .symbol,
.CodeRay .predefined-constant,
.CodeRay .pseudo-class { color:yellow; }
.CodeRay .constant { font-weight: bold; }
.CodeRay .value{ color: #adff2f; }

#replies {
  padding-bottom:0px;
  .reply {
    .deleted {
      color:#aaa;
      text-decoration: line-through;
      font-size:12px; text-align:center;
    }
    &.light { background:#F7F2FC; }
    &.popular { background:#fffce9; }
    border-top:1px solid #DDD; padding:8px 10px; margin:0 -10px;
    .face { padding-right:8px; width:48px; margin-left:0; }
    .infos { padding-left:58px; }
    .info {
      font-size:14px;
      color:#049cdb; height:20px;
      a:link,
      a:visited { color:#999; }
      .name {
        float:left;
        a { text-decoration:underline; margin-right:8px; }
      }
      .opts {
        float:right; text-align:right;
        a { margin-left:5px; }
        a:hover { text-decoration:none; }
        i.icon { margin-bottom:-1px; }
      }
      a.edit { display:none; }
      a.reply_link img { vertical-align:middle;}
    }
    .body {
      img { max-width:622px;}
      }
    }
  }
#replies .reply .body {
  position:relative;
  line-height:160%; 
  font-size:16px;
  font-weight:bold;

  text-overflow: ellipsis; word-wrap: break-word;
  p { 
      font-size:16px; 
      line-height:160%; 
      margin-bottom:10px;  }
  blockquote {
    p { font-size:13px; color:#666; font-weight:normal; line-height:150%; }
  }
  code { margin:0 2px; font-family:Monaco,Menlo, "Courier New", monospace;}
  pre { font-family:Monaco,Menlo,"Courier New", monospace; }
  a:link, a:visited { font-size:13px; color:#0069D6; text-decoration: none; }
  a:hover { text-decoration: underline; color:#00438A; }
  a.at_floor { color:#376B43; }
  a.at_user {
    color:#333; font-weight:bold;
    i { color:#777; }
  }
  h4 { font-weight:bold; font-size:15px; line-height:100%; margin:0; color:#222; margin-top:20px; border-left:15px solid #eee; padding-left:5px; margin-bottom:8px;  }
  strong { color:#000; }
  ul,
  ol {
    list-style-position: inside;
    margin:0;
    padding:5px 14px;
    p { margin:0; }
    li { line-height:160%; color:#333; font-size:13px; }
  }
  img { vertical-align: top; }
}

.kindarch {
  background-color: #d9edf7;
  padding:10px;
  width: auto;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
  h2.title {
    font-size: 14px;
    margin:0 -10px; padding:0 10px; margin-bottom:8px;
    vertical-align:center;
    color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
  ul{
    margin-left: 10px;
    li{
      margin: 5px 5px;
      padding: 3px,6px;
      a {
        font-size: 25px;
        font-weight: 300;
      }
      span {
          margin-top: 0px;
          margin-bottom: 10px;
          margin-left: 5px;
          font-size: 10px;
      }
    }
    a:link {
        text-decoration: none;
      }
    a:visited {
        text-decoration: none;
      }
    a:hover {
        text-decoration: none;
      }
    a:active {
        text-decoration: none;
      }
    }
}

.tagarch{
  ul {
    margin: 0;           
    list-style: none;    
    li {
      display: inline;   
      margin: 0;         
      padding: 0;        
      a {
        display: inline-block;          
        margin-right: 3px;
        margin-bottom: 6px;
        padding: 2px 10px;
        color: #778087; 
        font-size:18px;
        font-weight: 180; 
        text-decoration: none;          
        background-color: #f5f5f5;      
        -moz-border-radius: 3px;       
        -webkit-border-radius: 3px;     
        border-radius: 3px;
        &:hover {
          color: white;  
          background-color: #99a;         
        }        
      }
      span{ 
          vertical-align:super;
          font-size:0.8em;
          color:#049cdb;
        }
    }
  }
}
.usidebar {
  background-color: #d9edf7;
  padding:10px;
  width: auto;
  margin: 0 0 0px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
  h2.title {
    font-size: 14px;
    margin:0 -10px; padding:0 10px; margin-bottom:8px;
    vertical-align:center;
    color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
  ul{
    margin-left: 5px;
    li{
      margin: 5px 5px;
      padding: 3px,6px;
    }
    a:link {
        text-decoration: none;
      }
    a:visited {
        text-decoration: none;
      }
    a:hover {
        text-decoration: none;
      }
    a:active {
        text-decoration: none;
      }
    }
}





